<!DOCTYPE html>
<html>
<head>
<title>Results </title>
<style>
  table{
     margin-left:auto;
     margin-right:auto;
     border-collapse: collapse;
   }
  table, th, td {
    border: 1px solid black;
  }
</style>
</head>
<body>
<h1 align="center"> ACP Brevets open and close times. </h1>

<table style="width:50%">
  <tr>
    <!-- <th>Query #</th> -->
    <th>Open time</th>
    <th>Close time</th>
    <th>Km Distance</th>
    <th>Miles Distance</th>
    <th>Valid?</th>
  </tr>

{% for item in items %}

  <tr style="text-align:center">

      <!-- <td>#: {{item.contador}}</td> -->
      <td>{{item.open}}</td>
      <td>{{item.close}}</td>
      <td>{{item.km}}</td>
      <td>{{item.miles}}</td>
      <td>{{item.notes}}</td>
  </tr>
{% endfor %}


</table>
</body>
</html>






</table>


<p><a href="{{ url_for("index") }}">Main page</a></p>
